<div class="container">
  <div class="left-box">
  <form class="form-horizontal" [formGroup]="findRecipe" (ngSubmit)="getDetails()">
    <table class="table">
      <tr>
        <td>
          <div class="form-group col-md-8 is-invalid " [ngClass]="{'has-error': findRecipe.controls.recipeName.errors }">
            <br>
            <input id="recipeName" type="text" class="form-control is-invalid " formControlName="recipeName" placeholder="Enter Item Name">
          </div>
        </td>
        <td>
          <div class="form-group">
            <br>
            <button class="btn btn-primary">Go</button>
          </div>
        </td>
        <td>
      </tr>
    </table>
  </form>
  </div>
</div>
<br>


<div class="display_recipe_details">
  <app-item-details [Details]="Details"></app-item-details>
</div>
