<ion-header>
  <ion-title>
    Add Notification
  </ion-title>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Notification Name : </ion-label>
        <ion-input type="text" [(ngModel)]="appdata.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description : </ion-label>
        <ion-input type="text" [(ngModel)]="appdata.description" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Select Time : </ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="appdata.time" name="time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Select Date : </ion-label>
        <ion-datetime displayFormat="DD/MM/YY" pickerFormat="D MMMM YYYY" [(ngModel)]="appdata.date" name="date"></ion-datetime>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button (click)="submit()">Add Notification</ion-button>
    </div>
  </form>


  <div >
    Saved Notifications:
    <br>
    <br>
    <ion-row style="border-bottom: groove;">
      <ion-col col-4>
        <ion-label >Notification Name</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Description</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Time</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Date</ion-label>
      </ion-col>
    </ion-row>
    <ion-row  *ngFor="let item of items | async">
      <ion-col col-4>
        <ion-label >{{ item.title }} </ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ item.description }} </ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ item.time}} </ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >{{ item.date}} </ion-label>
      </ion-col>

    </ion-row>

  </div>

</ion-content>
